.list-items {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}

.list-items li  {
  transition: background .1s ease-in-out;
}
.list-items li:hover  {
  background-color: #e2e8f0;
}

.list-items li.active {
  background-color: #222e3c;
}

.list-items li a {
  display: block;
  color: #475569;
  padding: 0.625rem 1.625rem;
}

.list-items li.active a {
  color: white;
}